# Directories
.vs/
bin/
bin-int/ 
vendor/premake/
Sandbox/

# Files
.user
.sln
.vcxproj
.filters
.sln
.vscode/
*.filters
*.vcxproj
Comphi/Comphi.vcxproj.filters
Comphi/Comphi.vcxproj
Sandbox/textures
Sandbox/textures
Sandbox/models
